APP_ENV=prod
APP_SECRET=change_me_32_chars_random_string

# Base de données
DATABASE_URL="postgresql://sw_app:ton_mdp@IP_LXC_BDD:5432/farming-sw?serverVersion=17&charset=utf8"

# JWT (générer avec : php bin/console lexik:jwt:generate-keypair)
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me

# FastAPI
FASTAPI_URL=http://IP_LXC_FASTAPI:8001
FASTAPI_SECRET=meme_cle_que_dans_fastapi_env

# Mailer (Brevo / Resend / SMTP)
MAILER_DSN=smtp://user:password@smtp.brevo.com:587
MAILER_FROM=noreply@tondomaine.com

# Frontend URL (pour les liens dans les emails)
FRONTEND_URL=https://tondomaine.com
